In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
raw=pd.read_csv('loan_data.csv')

In [3]:
loss=raw['loan_amount']-raw['total_rec_prncp']-raw['recoveries']

In [4]:
raw['loss']=loss
raw.head()

,id,year,issue_d,final_d,emp_length_int,home_ownership,home_ownership_cat,income_category,annual_inc,income_cat,...,interest_rate,grade,grade_cat,dti,total_pymnt,total_rec_prncp,recoveries,installment,region,loss
0,1077501,2011,01/12/2011,1012015,10.0,RENT,1,Low,24000,1,...,10.65,B,2,27.65,5861.071414,5000.00,0.00,162.87,munster,0.00
1,1077430,2011,01/12/2011,1042013,0.5,RENT,1,Low,30000,1,...,15.27,C,3,1.00,1008.710000,456.46,117.08,59.83,leinster,1926.46
2,1077175,2011,01/12/2011,1062014,10.0,RENT,1,Low,12252,1,...,15.96,C,3,8.72,3003.653644,2400.00,0.00,84.33,cannught,0.00
3,1076863,2011,01/12/2011,1012015,10.0,RENT,1,Low,49200,1,...,13.49,C,3,20.00,12226.302210,10000.00,0.00,339.31,ulster,0.00
4,1075358,2011,01/12/2011,1012016,1.0,RENT,1,Low,80000,1,...,12.69,B,2,17.94,3242.170000,2233.10,0.00,67.79,ulster,766.90

In [5]:
import_data=pd.read_csv('exported_ns.csv')

In [6]:
import_data.insert(36, 'loss', loss)
index_vals=import_data['Unnamed: 0']
import_data.drop(['Unnamed: 0'],axis=1,inplace=True)

In [7]:
import_data

,year,emp_length_int,income_cat,loan_amount,interest_payment_cat,interest_rate,grade_cat,installment,ANY,MORTGAGE,...,small_business,vacation,wedding,Northern-Irl,cannught,leinster,munster,ulster,loss,target
0,4,10.0,1,5000,1,10.65,2,162.87,0,0,...,0,0,0,0,0,0,1,0,0.00,0
1,4,0.5,1,2500,2,15.27,3,59.83,0,0,...,0,0,0,0,0,1,0,0,1926.46,1
2,4,10.0,1,2400,2,15.96,3,84.33,0,0,...,1,0,0,0,1,0,0,0,0.00,0
3,4,10.0,1,10000,2,13.49,3,339.31,0,0,...,0,0,0,0,0,0,0,1,0.00,0
4,4,1.0,1,3000,1,12.69,2,67.79,0,0,...,0,0,0,0,0,0,0,1,766.90,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887374,8,8.0,1,10000,1,11.99,2,332.10,0,0,...,0,0,0,0,0,0,0,1,7055.47,0
887375,8,10.0,1,24000,1,11.99,2,797.03,0,1,...,0,0,0,1,0,0,0,0,16933.26,0
887376,8,5.0,1,13000,2,15.99,4,316.07,0,0,...,0,0,0,0,0,1,0,0,11155.50,0
887377,8,1.0,1,12000,2,19.99,5,317.86,0,0,...,0,0,0,1,0,0,0,0,10447.31,0
887378,8,10.0,1,20000,1,11.99,2,664.20,0,0,...,0,0,0,0,0,1,0,0,14110.94,0

In [8]:
l=list(import_data[import_data['target']==0]['loss'])

In [9]:
len(l)

819950

In [10]:
index_vals

0              0
1              1
2              2
3              3
4              4
           ...
887374    887374
887375    887375
887376    887376
887377    887377
887378    887378
Name: Unnamed: 0, Length: 887379, dtype: int64

In [11]:
import_data.shape

(887379, 37)

# SMOTE

In [12]:
from imblearn.over_sampling import SMOTE 
from imblearn.over_sampling import RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler
sm = SMOTE(random_state = 2)
y=import_data['target'].values
import_data.drop('target',axis=1,inplace=True)
x=import_data[:].values
y=y.reshape(-1, 1)
over = RandomOverSampler(sampling_strategy=0.2)
# fit and apply the transform
x, y = over.fit_resample(x,y)
print(x.shape,y.shape)

(983940, 36) (983940,)

In [13]:
cols=import_data.columns
x_array=np.array(x)
df_after_smote= pd.DataFrame(data = x_array,columns=import_data.columns) 
df_after_smote.head()

,year,emp_length_int,income_cat,loan_amount,interest_payment_cat,interest_rate,grade_cat,installment,ANY,MORTGAGE,...,renewable_energy,small_business,vacation,wedding,Northern-Irl,cannught,leinster,munster,ulster,loss
0,4.0,10.0,1.0,5000.0,1.0,10.65,2.0,162.87,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.00
1,4.0,0.5,1.0,2500.0,2.0,15.27,3.0,59.83,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1926.46
2,4.0,10.0,1.0,2400.0,2.0,15.96,3.0,84.33,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.00
3,4.0,10.0,1.0,10000.0,2.0,13.49,3.0,339.31,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.00
4,4.0,1.0,1.0,3000.0,1.0,12.69,2.0,67.79,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,766.90

In [14]:
df_after_smote['target']=y

# Logistic Regression

In [15]:
x1=df_after_smote[cols]
y1=df_after_smote['target']

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
train_X,test_X,train_Y,test_Y = train_test_split(x1, y1, test_size = 0.3,random_state=100)
logistic=LogisticRegression()
logistic.fit(train_X,train_Y)

/home/vyper/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [17]:
from sklearn.metrics import confusion_matrix
y_pred = logistic.predict(test_X)
confusion_matrix = confusion_matrix(test_Y, y_pred)
print(confusion_matrix)

[[239772   5938]
 [ 40286   9186]]

In [18]:
l1=list(test_Y)

In [19]:
l2=list(y_pred)

In [20]:
l_indices=[]
for i in range(len(l1)):
    if l2[i]!=l1[i] and l1[i]==0:
        l_indices.append(i)

In [21]:
df_lr=pd.DataFrame(data=list(test_Y.index),columns=['original indices'])
df_lr['actual']=list(test_Y)
df_lr['predicted']=y_pred

In [22]:
total_loss_lr=0
for i in l_indices:
    total_loss_lr+=(raw.iloc[i]['loss'])
llr=int(total_loss_lr)

# Decision Tree

In [23]:
from sklearn import tree
from sklearn.metrics import accuracy_score
clf = tree.DecisionTreeClassifier()
clf.fit(train_X,train_Y)
y_pred=clf.predict(test_X)

In [24]:
df_dt=pd.DataFrame(data=list(test_Y.index),columns=['original indices'])
df_dt['actual']=list(test_Y)
df_dt['predicted']=y_pred

In [25]:
l1=list(test_Y)
l2=list(y_pred)
l_indices=[]
for i in range(len(l2)):
    if l2[i]!=l1[i] and l1[i]==0:
        l_indices.append(i)

In [26]:
total_loss_dt=0
for i in l_indices:
    total_loss_dt+=(raw.iloc[i]['loss'])
ldt=int(total_loss_dt)

# Random Forest

In [27]:
from sklearn.ensemble import RandomForestClassifier
crf = RandomForestClassifier(max_depth=8, random_state=0)
crf.fit(train_X,train_Y)
y_pred=crf.predict(test_X)

In [28]:
df_rf=pd.DataFrame(data=list(test_Y.index),columns=['original indices'])
df_rf['actual']=list(test_Y)
df_rf['predicted']=y_pred

In [29]:
l1=list(test_Y)
l2=list(y_pred)
l_indices=[]
for i in range(len(l2)):
    if l2[i]!=l1[i] and l1[i]==0:
        l_indices.append(i)

In [30]:
total_loss_rf=0
for i in l_indices:
    total_loss_rf+=(raw.iloc[i]['loss'])
lrf=int(total_loss_rf)

# Loss

In [31]:
print('Estimated Loss using logistic regression: Rs.'+str(llr))

Estimated Loss using logistic regression: Rs.25883726

In [32]:
print('Estimated Loss using decision tree: Rs.'+str(ldt))

Estimated Loss using decision tree: Rs.47440110

In [33]:
print('Estimated Loss using random forest: Rs.'+str(lrf))

Estimated Loss using random forest: Rs.3485509